{% load web_utils %}
<!-- Page Footer-->
<footer class="bottom-0 bg-darkBlue text-white text-center py-3 w-100 text-xs mt-auto" id="footer">
    <div class="container-fluid">
        <div class="row gy-2">
            <div class="col-sm-6 text-sm-start">
                <p class="mb-0">PeLP - Universitat Oberta de Catalunya &copy; 2020-{% now 'Y' %} Xavier Baró</p>
            </div>
            <div class="col-sm-6 text-sm-end">
                <p class="mb-0">Version {% pelp_version %}</p>
            </div>
        </div>
    </div>
</footer>
