{% extends 'web/base.html' %}
{% load static %}
{% load i18n %}
{% load web_utils %}

{% block page_extra_css %}
    <!-- Simple DataTables CSS-->
    <link rel="stylesheet" href="{% static 'vendor/simple-datatables/style.css' %}">
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet"
          href="{% static 'vendor/windows-file-explorer-tree/jQueryFileExplorer.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static 'css/file_diff.css' %}">
{% endblock %}

{% block page_head_scripts %}
{% endblock %}

{% block content %}
    <section class="activity main-container">
        <div class="container-fluid">
            <div class="row-cols-1">
                <div class="col-lg-auto">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="h4 mb-0">
                                {{ submission.activity.code }} - {{ submission.activity.name }}
                                {%  if user.is_staff or activity|is_instructor:user %}
                                    {% if submission.learner.id > -1 %}({{ submission.learner.first_name }}
                                        {{ submission.learner.last_name }}){% endif %}
                                {% endif %}
                                <a role="button" style="float: right;" href="{{ submission.submission.url }}">
                                    <svg class="svg-icon svg-icon-lg svg-icon-heavy me-xl-2">
                                        <use xlink:href="#download-e-book-3722">
                                            <title>{% trans 'Download original submission' %}</title>
                                        </use>
                                    </svg>
                                </a>
                                {% if submission.merged_submission %}
                                    <a role="button" style="float: right;"
                                       href="{{ submission.merged_submission.url }}">
                                        <svg class="svg-icon svg-icon-lg svg-icon-heavy me-xl-2">
                                            <use xlink:href="#download-folder-content-4233">
                                                <title>{% trans 'Download prepared code' %}</title>
                                            </use>
                                        </svg>
                                    </a>
                                {% endif %}
                                {% if submission.valgrind_report %}
                                    <a role="button" style="float: right;" href="{{ submission.valgrind_report.url }}">
                                        <svg class="svg-icon svg-icon-lg svg-icon-heavy me-xl-2">
                                            <use xlink:href="#code-bug-7198">
                                                <title>{% trans 'Download Valgrind report' %}</title>
                                            </use>
                                        </svg>
                                    </a>
                                {% endif %}
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <button class="nav-link active" id="nav-execution-log-tab" data-bs-toggle="tab"
                                                data-bs-target="#nav-execution-log" type="button" role="tab"
                                                aria-controls="nav-execution-log" aria-selected="true">
                                            <strong>{% trans 'Execution Log' %}</strong>
                                        </button>
                                        <button class="nav-link" id="nav-tests-tab" data-bs-toggle="tab"
                                                data-bs-target="#nav-tests" type="button" role="tab"
                                                aria-controls="nav-tests" aria-selected="false">
                                            <strong>{% trans 'Tests' %}</strong>
                                        </button>
                                        <button class="nav-link" id="nav-errors-tab" data-bs-toggle="tab"
                                                data-bs-target="#nav-errors" type="button" role="tab"
                                                aria-controls="nav-errors" aria-selected="false">
                                            <strong>{% trans 'Errors' %}</strong>
                                        </button>
                                        <button class="nav-link" id="nav-files-tab" data-bs-toggle="tab"
                                                data-bs-target="#nav-files" type="button" role="tab"
                                                aria-controls="nav-files" aria-selected="false">
                                            <strong>{% trans 'File Explorer' %}</strong>
                                        </button>
                                        <button class="nav-link" id="nav-files-diff-tab" data-bs-toggle="tab"
                                                data-bs-target="#nav-files-diff" type="button" role="tab"
                                                aria-controls="nav-files-diff" aria-selected="false">
                                            <strong>{% trans 'Differences' %}</strong>
                                        </button>
                                        {% if submission.activity.include_report %}
                                            <button class="nav-link" id="nav-report-tab" data-bs-toggle="tab"
                                                    data-bs-target="#nav-report" type="button" role="tab"
                                                    aria-controls="nav-report" aria-selected="false">
                                                <strong>{% trans 'Report' %}</strong>
                                            </button>
                                        {% endif %}
                                    </div>
                                </nav>
                                <div class="tab-content" id="nav-tabContent" style="min-height: 50px;">
                                    <div class="tab-pane fade show active" id="nav-execution-log" role="tabpanel"
                                         aria-labelledby="nav-execution-log-tab">
                                            <pre style="max-width: 75vw;">
                                                <code id="log_viewer" class="language-console" data-url="

                                                        {% if submission.execution_logs %}{{ submission.execution_logs.url }}{% else %}null{% endif %}"></code>
                                            </pre>
                                    </div>
                                    <div class="tab-pane fade pb-3" id="nav-tests" role="tabpanel"
                                         aria-labelledby="nav-tests-tab" style="max-width: 500px;">
                                        <canvas id="tests_chart" width="100%" height="100%"
                                            data-course-id="{{ submission.activity.course.id }}"
                                            data-activity-id="{{ submission.activity.id }}"
                                            data-submission-id="{{ submission.id }}"
                                            data-show-legend="true">
                                        </canvas>
                                    </div>
                                    <div class="tab-pane fade pb-3" id="nav-errors" role="tabpanel"
                                         aria-labelledby="nav-errors-tab">
                                        {% include 'web/pages/elements/submission_errors.html' %}
                                    </div>
                                    <div class="tab-pane fade" id="nav-files" role="tabpanel"
                                         aria-labelledby="nav-files-tab">
                                        {% include 'web/pages/elements/submission_file_explorer.html' %}
                                    </div>
                                    <div class="tab-pane fade" id="nav-files-diff" role="tabpanel"
                                         aria-labelledby="nav-files-diff-tab">
                                        <div id="files-diff" data-url="
                                                {% if submission.diff_report %}{{ submission.diff_report.url }}{% else %}null{% endif %}">
                                        </div>
                                    </div>
                                    {% if submission.activity.include_report %}
                                        <div class="tab-pane fade" id="nav-report" role="tabpanel"
                                             aria-labelledby="nav-report-tab">
                                            {% for report in submission.report_files %}
                                                <h4 class="text-muted mt-3"><strong>{{ report.filename }}</strong></h4>
                                                <embed id="pdf_viewer" src="{{ report.file.url }}" width="100%" height="500" alt="pdf report" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
                                            {% empty %}
                                                {% trans "Missing expected activity report." %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block page_body_scripts %}
    <!-- JQuery -->
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js"></script>
    <script src="{% static 'vendor/windows-file-explorer-tree/jQueryFileExplorer.js' %}"></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/split.js/1.6.2/split.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js" integrity="sha256-Y26AMvaIfrZ1EQU49pf6H4QzVTrOI8m9wQYKkftBt4s=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0/dist/chartjs-plugin-datalabels.min.js" integrity="sha256-RgW6ICRcHgz1vaGkL5egQAqmkWxGbwa2E3Boz/3CapM=" crossorigin="anonymous"></script>
    {% csrf_token %}
    <input type="hidden" name="activity_report_detail_submission_id" value="{{ submission.id }}">
    <input type="hidden" name="activity_report_detail_activity_id" value="{{ submission.activity.id }}">
    <input type="hidden" name="activity_report_detail_course_id" value="{{ submission.activity.course.id }}">
    <script src="{% static 'js/plot_tests.js' %}"></script>
    <script src="{% static 'js/pages/activity-report-detail.js' %}"></script>
{% endblock %}
