{% extends 'web/base.html' %}
{% load static %}

{% block page_extra_css %}
    <!-- Simple DataTables CSS-->
    <link rel="stylesheet" href="{%  static 'vendor/simple-datatables/style.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">
{% endblock %}

{% block page_head_scripts %}
{% endblock %}

{% block content %}
<section class="projects">
    <div class="container-fluid">
      <div class="card">
          <table id="projects" class="table table-striped table-bordered" style="width:100%"
                 data-server-side="true" data-ajax="/api/projects/?format=datatables">
          <thead>
            <tr>
              <th data-data="id">Id</th>
              <th data-data="status">Status</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
</section>
{% endblock %}

{% block page_body_scripts %}
    <!-- JQuery -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>

    <!-- Simple DataTables-->
    <script src="{% static 'vendor/simple-datatables/umd/simple-datatables.js' %}"></script>
    <script src="{% static 'js/pages/projects.js' %}"></script>
{% endblock %}
